.header-links-container {
    display: inline;
    float: right;

}

@media screen and (min-width: 1024px) {


    .header-links-container {
        margin-top: 1.5rem;
    }

    .form-container {
        float: right;
    }
}

@media screen and (max-width: 1023px) {
    .header-links-container {
        margin-top: 2rem;
    }

    .form-container {
        padding-bottom: 4rem;
    }

}