.user-img {
    display: block;

    margin-right: auto;
    margin-left: auto;
    margin-top: 6rem;

    object-fit: cover;

    border-radius: 50%;
}

.user-username {
    text-align: center;
    margin-top: 3rem;
}

.user-links {
    margin: 0;
    padding: 4px;
    display: block;
    text-align: center;
}

.user-link {
    display: inline;
    margin-right: 5px;
    padding: 3px;
}

.data-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    margin: 0;
}

footer {
    margin-top: auto;
    background-color: #f2f3f4;
}

.footer-links {
    width: 100%;
    text-align: center;
}

.footer-link {
    text-decoration: none;
    font: 1.4em "arial";

}

.footer-h2 {
    text-align: center;
}

.footer-img {
    vertical-align: center;

    width: 2rem;
    height: 2rem;

    object-fit: cover;
    border-radius: 50%;
}

.user-linked-img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 50%;
}

@media screen and (min-width: 1024px) {
    .user-img {
        width: 14rem;
        height: 14rem;

    }

    .user-username {
        font: bold 4em "Arial";
    }

    .links-footer {
        line-height: 5rem;
    }

    .footer-link {
        margin: 1rem 3rem;
    }

    .footer-img {
        margin: 1rem auto -0.5rem;
    }

    .footer-h2 {
        font: 2em "arial black";
    }
}

@media screen and (max-width: 1023px) {
    .user-img {
        width: 24rem;
        height: 24rem;
    }

    .user-username {
        font: bold 5em "Arial";
    }

    .footer-link {
        margin: 1rem 3%;
    }

    .footer-img {
        margin: 1rem auto -0.4rem;
    }

    .footer-h2 {
        font: 2em "arial";
        font-weight: 800;
    }
}