.user-img {
    display: inline;

    margin-right: auto;
    margin-left: auto;
    margin-top: 6rem;

    object-fit: cover;

    border-radius: 50%;
}

.user-username {
    text-align: center;
    margin-top: 3rem;
}

.user-links {
    margin: 0;
    padding: 4px;
    display: block;
    text-align: center;
}

.user-link {
    display: inline;
    margin-right: 5px;
    padding: 3px;
}

.data-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    margin: 0;
}

footer {
    margin-top: auto;
    background-color: #f2f3f4;
}

.footer-links {
    width: 100%;
    text-align: center;
}

.footer-link {
    text-decoration: none;
    font: 1.4em "arial";

}

.footer-h2 {
    text-align: center;
}

.footer-img {
    vertical-align: center;

    width: 2rem;
    height: 2rem;

    object-fit: cover;
    border-radius: 50%;
}

.user-linked-img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.3s;

}

.user-linked-img:hover {
    transform: scale(0.9);
}

.pencil-erase {
    display: block;
    background-color: white;
}

.pencil-body {
    display: block;
    background-color: white;
}

.pencil-head {
    display: block;
    background-color: white;

    transform: rotate(45deg);

}

.pencil {
    display: inline-block;

    background-color: black;

    border-radius: 50%;

    transform: rotate(35deg);
}

.image-container {
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 1024px) {
    .user-img {
        width: 14rem;
        height: 14rem;

    }

    .pencil {
        width: 3rem;
        height: 3rem;

        vertical-align: top;

        margin-left: -3rem;
        margin-top: 16rem;
    }

    .pencil-head {
        width: 8px;
        height: 8px;

        border-radius: 0 2px 0 0;

        margin: -0.2rem auto;
    }

    .pencil-body {
        width: 10px;
        height: 22px;

        border-radius: 2px 2px 0 0;

        margin: 0 auto 0;
    }

    .pencil-erase {
        width: 10px;
        height: 4px;

        border-radius: 2px;
        margin: 0.5rem auto 0.1rem;
    }

    .user-username {
        font: bold 4em "Arial";
    }

    .footer-links {
        line-height: 5rem;
    }

    .footer-link {
        margin: 1rem 3rem;
    }

    .footer-img {
        margin: 1rem auto -0.5rem;
    }

    .footer-h2 {
        font: 2em "arial black";
    }
}

@media screen and (max-width: 1023px) {
    .user-img {
        width: 24rem;
        height: 24rem;
    }

    .pencil {
        width: 6rem;
        height: 6rem;

        vertical-align: top;

        margin-left: -5.5rem;
        margin-top: 22.5rem;
    }

    .pencil-head {
        width: 15px;
        height: 15px;

        border-radius: 0 2px 0 0;

        margin: -0.4rem auto;
    }

    .pencil-body {
        width: 20px;
        height: 38px;

        border-radius: 2px 2px 0 0;

        margin: 0 auto 0;
    }

    .pencil-erase {
        width: 20px;
        height: 8px;

        border-radius: 2px;
        margin: 1.2rem auto 0.1rem;
    }

    .user-username {
        font: bold 5em "Arial";
    }

    .footer-link {
        margin: 1rem 3%;
    }

    .footer-img {
        margin: 1rem auto -0.4rem;
    }

    .footer-h2 {
        font: 2em "arial";
        font-weight: 800;
    }
}