@media screen and (min-width: 1024px) {
    .form-container {
        display: block;

        padding: 1rem 1rem 2rem;

        margin-top: 10rem;
        margin-left: auto;
        margin-right: auto;

        text-align: center;
        box-shadow: 0 0 5px 5px #f3f4f5;

        width: 22rem;

        border: #f2f3f4 solid 2px;
        border-radius: 10px;
    }

    .form-header {
        font: bold 2em "Arial";
    }

    .page-form {
        text-align: center;
    }

    .page-form-label {
        display: block;

        margin-left: 0.4rem;
        margin-bottom: 0.5rem;
        margin-top: 1.7rem;

        font: 0.9em "Arial";
        text-align: left;
    }

    .page-form-input {
        background-color: #f2f3f4;

        margin-top: 0;
        margin-left: 0.2rem;
        margin-right: 0.2rem;

        padding: 0.3rem;

        vertical-align: center;

        font: 1em "Arial";
        color: #565758;

        width: 95%;
        height: 1.5rem;

        border: #ddd solid 2px;
        border-radius: 10px;
    }

    .page-form-input:focus {
        outline: none;
    }

    .page-form-submit {
        -webkit-appearance: none;
        -webkit-border-radius: 10px;

        display: block;

        margin-top: 1rem;
        margin-left: 0.2rem;
        margin-right: 0.2rem;

        width: 98%;
        height: 3rem;

        horiz-align: center;
        vertical-align: center;

        text-align: center;
        font: 1.2em "Arial";

        background: #39DB80;

        border: none;
        border-radius: 10px;

        cursor: pointer;
    }
}

@media screen and (max-width: 1023px) {
    .form-container {
        display: block;

        padding: 1rem 1rem 4rem;

        margin-top: 5rem;
        margin-left: auto;
        margin-right: auto;

        text-align: center;
        box-shadow: 0 0 5px 5px #f3f4f5;

        width: 52rem;

        border: #f2f3f4 solid 2px;
        border-radius: 10px;

    }

    .form-header {
        font: bold 5.2em "Arial";
    }

    .page-form {
        text-align: center;
    }

    .page-form-label {
        display: block;

        margin-left: 5%;
        margin-bottom: 0.5rem;
        margin-top: 1.7rem;

        font: 2.4em "Arial";
        text-align: left;
    }

    .page-form-input {
        -webkit-appearance: none;

        background-color: #f2f3f4;

        margin-top: 0;

        margin-left: 2%;
        margin-right: 2%;

        padding: 0.3rem;

        horiz-align: center;
        vertical-align: center;

        font: 2.8em "Arial";
        color: #565758;

        width: 92%;
        height: 4rem;

        border: #ddd solid 2px;
        border-radius: 10px;
    }

    .page-form-input:focus {
        outline: none;
    }

    .page-form-submit {
        -webkit-appearance: none;
        -webkit-border-radius: 10px;

        display: block;

        margin-top: 3rem;
        margin-left: 3%;
        margin-right: 3%;

        width: 94%;
        height: 5rem;

        horiz-align: center;
        vertical-align: center;

        text-align: center;
        font: 1.8em "Arial";

        padding: 5px 15px;

        background: #39DB80;

        border: none;
        border-radius: 10px;

        cursor: pointer;
    }
}

