<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование</title>
    <link rel="stylesheet" href="../static/css/register.css">
    <link rel="stylesheet" href="../static/css/edit.css">
    <script type="text/javascript" src="../static/js/edit.js"></script>


</head>
<body>
<div class="data-container">
    <div class="tabs">
        <button class="tabs-button active-tab" id="tab-edit-base-info"
                onclick="changeTab(event, 'tab-edit-base-info', 'section-edit-base-info')">
            Изменить основные данные
        </button>

        <p class="separator"></p>

        <button class="tabs-button" id="tab-edit-password"
                onclick="changeTab(event, 'tab-edit-links', 'section-edit-links')">
            Изменить ссылки
        </button>

        <p class="separator"></p>

        <button class="tabs-button" id="tab-edit-links"
                onclick="changeTab(event, 'tab-edit-password', 'section-edit-password')">
            Изменить пароль
        </button>
    </div>

    <div class="section" id="section-edit-base-info">
        <div class="form-container">
            <h1 class="form-header">Смена основных данных</h1>

            <form class="page-form" method="post" enctype=multipart/form-data>

                <input id="id" name="id" style="display: none" type="text" value="{{ .UserId }}">

                <input id="img" name="id" style="display: none" type="text">

                <div class="photo-container" data-title="Изменить картинку">
                    <img class="form-image" id="img_src" src="{{ .ImagePath }}"><br>
                    <p id="img_click" class="change-image-button">Изменить картинку</p>
                </div>
                <label for="username" class="page-form-label">Имя пользователя</label>
                <input id="username" name="username" class="page-form-input" type="text" value="{{ .Username }}"><br>

                <input type="submit" class="page-form-submit" value="Сохранить">
            </form>
        </div>
    </div>

    <div class="section" id="section-edit-links" style="opacity: 0; display: none">
        <div class="form-container">
            <h1 class="form-header">Редактировать ссылки</h1>

            <form class="page-form" id="page-form-links" method="post" enctype=multipart/form-data>

                <input id="id" name="id" style="display: none" type="text" value="{{ .UserId }}">
                {{ range $i, $elem := .Links }}
                    <div style="display: inline; vertical-align: middle;" id="link-div-{{ $i }}">

                        <input id="link-{{ $i }}"
                               name="link" class="page-form-input page-form-link" type="text" value="{{ index $elem 0 }}"
                        ><button type="button" id="delete-link-{{ $i }}"
                                 class="delete-link-button" onclick="deleteLink('link-div-{{ $i }}')">-</button>

                    </div>
                {{ end }}
                <button type="button" id="add-link-button" class="add-link-button" onclick="addLink()">Добавить ссылку</button>

                <input type="submit" class="page-form-submit" value="Сохранить">
            </form>
        </div>
    </div>

    <div class="section" id="section-edit-password" style="opacity: 0; display: none">
        <div class="form-container">
            <h1 class="form-header">Регистрация</h1>

            <form class="page-form" method="post">

                <input id="id" name="id" style="display: none" type="text" value="{{ .UserId }}">

                <label for="password" class="page-form-label">Пароль</label>
                <input id="password" name="password" class="page-form-input" type="password"><br>

                <label for="password-again" class="page-form-label">Пароль еще раз</label>
                <input id="password-again" name="password-again" class="page-form-input" type="password"><br>

                <input type="submit" class="page-form-submit" value="Сохранить">
            </form>
        </div>
    </div>

</div>

</body>
</html>