<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="../static/css/basic.css">
    <link rel="stylesheet" href="../static/css/main_page.css">
</head>
<body>
<div class="data-container">
    <div class="header">
        <h1 class="logo">крутое название</h1>
        <div class="header-links-container">
            <a class="button-link" href="/edit/{{ .User.UserId }}">{{ .User.Username }}</a>
        </div>
    </div>
</div>

</body>
</html>