<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
<div class="form-container">
    <h1 class="form-header">Регистрация</h1>
    <form class="page-form" action="/do/login" method="post">

        <label for="username" class="page-form-label">Имя пользователя или почта</label>
        <input id="username" name="username" class="page-form-input" type="text"><br>

        <label for="password" class="page-form-label">Пароль</label>
        <input id="password" name="password" class="page-form-input" type="password"><br>

        <input type="submit" class="page-form-submit" value="Зарегистрироваться">
    </form>
</div>
</body>
</html>