<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .User.Username }}</title>
    <link rel="stylesheet" href="../static/css/page.css">
</head>
<body>
<div class="data-container">
    <img class="page-img" src="{{ .User.ImagePath }}">
    <h1 class="page-username">{{ .User.Username }}</h1>
    <ul class="page-links">
        {{ range .User.Links }}
            <li class="page-link"><a href="{{ index . 0 }}"><img class="page-linked-img" src="{{ index . 1 }}"></a></li>
        {{ end }}
    </ul>
    <br>
    <div style="height: 3rem"></div>
    <footer>
        <h2 class="page-h2-footer">Создайте свою визитку</h2>
        <div class="links-footer">
            <a class="page-link-footer" href="/">На главную</a>
            {{ if eq .AuthUser.UserId 0}}
                <a class="page-link-footer" href="/login">Войти</a>
                <a class="page-link-footer" href="/registration">Зарегистрироваться</a>
            {{ else }}
                <a class="page-link-footer" href="/id/{{ .AuthUser.UserId }}">
                    <img class="page-img-footer" src="{{ .AuthUser.ImagePath }}">
                    {{ .AuthUser.Username }}
                </a>
            {{ end }}
        </div>
        <div style="height: 3rem"></div>
    </footer>
</div>
</body>
</html>