<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .User.Username }}</title>
    <link rel="stylesheet" href="../static/css/basic.css">
    <link rel="stylesheet" href="../static/css/page.css">
</head>
<body>
<div class="data-container">
    <div class="image-container">
        <img class="user-img" src="{{ .User.ImagePath }}">
        {{ if eq .AuthUser.UserId .User.UserId}}
        <a href="/edit/{{ .AuthUser.UserId }}"><div class="pencil">
            <span class="pencil-erase"></span><span class="pencil-body"></span><span class="pencil-head"></span>
            </div></a>
        {{ end }}

    </div>
    <h1 class="user-username">{{ .User.Username }} {{if .User.Verified }} VER {{ end }}</h1>
    <ul class="user-links">
        {{ range .User.Links }}
            <li class="user-link"><a href="{{ index . 0 }}"><img class="user-linked-img" src="{{ index . 1 }}"></a></li>
        {{ end }}
    </ul>
    <br>
    <div style="height: 3rem"></div>
    <footer>
        <h2 class="footer-h2">Создайте свою визитку</h2>
        <div class="footer-links">
            <a class="footer-link" href="/">На главную</a>
            {{ if eq .AuthUser.UserId 0}}
                <a class="footer-link" href="/login">Войти</a>
                <a class="footer-link" href="/registration">Зарегистрироваться</a>
            {{ else if ne .AuthUser.UserId .User.UserId }}
                <a class="footer-link" href="/id/{{ .AuthUser.UserId }}">
                    <img class="footer-img" src="{{ .AuthUser.ImagePath }}">
                    {{ .AuthUser.Username }}
                </a>
            {{ end }}
        </div>
        <div style="height: 3rem"></div>
    </footer>
</div>
</body>
</html>